@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type=radio] {
  vertical-align: text-bottom;
}

input [type=checkbox] {
  vertical-align: bottom;
}

.ie7 input [type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
@font-face {
  font-family: Super;
  src: url(../Fonts/CCUpUpAndAway.otf);
}
body {
  background-color: rgb(231, 231, 231);
  overflow-x: hidden;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.container-home .container-header {
  height: 34rem;
  width: 100%;
  background-image: url("https://wallpapercave.com/wp/Suzldiu.jpg");
  background-size: cover;
  border-bottom: 0.5rem rgb(255, 255, 255) solid;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.container-home hr {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-bottom: 1px black solid;
  box-shadow: 1px 1px 1px 1px;
}
.container-home .JL {
  width: 100%;
  height: 35rem;
  box-shadow: 2px 2px 2px 2px rgb(65, 65, 65);
  border-top: 2px rgb(255, 255, 255) solid;
  border-bottom: 2px rgb(255, 255, 255) solid;
}
.container-home .David {
  width: 100%;
  height: 35rem;
  box-shadow: 2px 2px 2px 2px rgb(65, 65, 65);
  border-top: 2px rgb(255, 255, 255) solid;
  border-bottom: 2px rgb(255, 255, 255) solid;
}
.container-home .container-flex {
  display: flex;
  justify-content: space-evenly;
}
.container-home .container-flex .home-article h2 {
  text-align: center;
  font-size: 2rem;
}
.container-home .container-flex .home-article hr {
  width: 100%;
}
.container-home .container-flex .home-video h2 {
  text-align: center;
  color: black;
  font-size: 2rem;
}
.container-home .container-flex .home-video hr {
  width: 100%;
}
.container-home .container-flex .home-video iframe {
  box-shadow: 2px 2px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.navbar-container {
  height: 7rem;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 4px solid rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 2px black;
  background-color: rgb(0, 30, 55);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.navbar-container .header {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-left: 2rem;
  font-family: "Times New Roman", Times, serif;
}
.navbar-container .nav-flex {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
}
.navbar-container .nav-flex .nav-item {
  margin-left: auto;
  padding: 20px;
  margin-right: auto;
  display: block;
  height: 100%;
}
.navbar-container .nav-flex a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}
.navbar-container .nav-flex .nav-item:hover {
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.container-article {
  width: 95%;
  height: 55rem;
  border-radius: 0.75rem;
  margin-left: auto;
  margin-right: auto;
}
.container-article p {
  padding: 15px;
}
.container-article h2 {
  padding-top: 15px;
  padding-left: 30px;
  font-size: 2rem;
}
.container-article hr {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 95%;
}
.container-article .article-flex {
  padding: 15px;
  justify-content: space-evenly;
  display: flex;
}
.container-article .article-flex .article-vert {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.container-article .article-flex .article-vert div {
  width: 54rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 23rem;
  border-radius: 0.75rem;
}
.container-article .article-flex .article-vert iframe {
  width: 54rem;
  height: 22rem;
  margin-top: 1rem;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.container-article .article-flex img {
  border-radius: 0.75rem;
  width: 30rem;
  height: 46rem;
  box-shadow: 2px 2px 2px 2px black;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.banner-container {
  align-items: center;
  background: #e0e0e0;
  display: flex;
  flex-direction: row;
  height: 65rem;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 2px 2px black;
}
@media screen and (max-width: 800px) {
  .banner-container {
    flex-direction: column;
  }
  .banner-container .banner {
    width: 100%;
    height: 100%;
  }
}
.banner-container:active .banner {
  opacity: 0.5;
}
.banner-container:active .banner:hover {
  box-shadow: 0px 0px 10px 6px black;
  flex: 2 1;
  font-size: 20pt;
  opacity: 1;
}
.banner-container:active .banner:hover .banner-name {
  flex: 0 0 60px;
}
.banner-container .banner {
  background: none 50%;
  background-size: cover;
  box-shadow: 0 0 0 0 black;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  font-size: 10pt;
  height: 100%;
  justify-content: flex-end;
  transition: 0.3s;
}
.banner-container .banner .banner-name {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex: 1 1;
  justify-content: center;
  width: 100%;
  transition: 0.3s;
}
.banner-container #Batman-banner {
  background-image: url(https://i.pinimg.com/564x/48/be/9a/48be9a621c4ae2f31ac71a90f1725dcb.jpg);
}
.banner-container #Super-banner {
  background-image: url(https://i.pinimg.com/564x/c2/c7/d6/c2c7d64ce58f78448fa40bf158b9818a.jpg);
}
.banner-container #Wonder-banner {
  background-image: url(https://i.pinimg.com/564x/fe/5c/8f/fe5c8fe72c49532260ae845249a8d1a8.jpg);
}

.footer {
  box-shadow: 15px 15px 15px 15px black;
  border-top: white 2px solid;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 29, 52);
}
.footer .one h2 {
  margin-top: -30px;
  text-align: center;
  font-size: 5rem;
  color: rgb(188, 0, 0);
}
.footer .one hr {
  box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
  border: none;
}
.footer .one div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .one div img {
  height: 3rem;
  width: 3rem;
}
.footer .two {
  margin-top: -1rem;
  color: rgb(178, 0, 0);
}
.footer .tee {
  margin-top: -2.3rem;
  color: rgb(188, 0, 0);
}

.Container-Timeline {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: block;
}
.Container-Timeline h2 {
  text-align: center;
  font-size: 3rem;
  color: rgb(0, 0, 77);
}
.Container-Timeline .time-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.Container-Timeline .time-card div {
  width: 30%;
  height: 30rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 0.75rem;
  padding: 15px;
}
.Container-Timeline .time-card div img {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: 70%;
  width: 90%;
}
.Container-Timeline .time-card div h3 {
  margin-top: 0.5rem;
  text-align: center;
}
.Container-Timeline .time-card div p {
  margin-top: 0.5rem;
  text-align: center;
}

.container-jl {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.container-jl h2 {
  padding-top: 30px;
  text-align: center;
  font-size: 3rem;
}
.container-jl .jl {
  width: 100%;
  height: 50rem;
  margin-bottom: 2rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container-jl .jl p {
  width: 45%;
  height: 90%;
  font-size: 1.03rem;
}
.container-jl .jl div {
  height: 90%;
  width: 45%;
  padding: 15px;
}
.container-jl .jl div iframe {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 0.75rem;
  width: 100%;
  margin-bottom: 2rem;
}
.container-jl .jl div img {
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: 100%;
}

.container-david {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 2rem;
}
.container-david h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: rgb(201, 0, 0);
  padding: 15px;
  border-radius: 0.75rem;
  margin-bottom: 0.5rem;
}
.container-david div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
}
.container-david div p {
  width: 49%;
  height: 95%;
  border-radius: 0.75rem;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.container-david div img {
  height: 95%;
  width: 49%;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}/*# sourceMappingURL=index.css.map */